<!DOCTYPE html>
<html lang="en">

  <%- include('./includes/portohead.ejs') %> 

<body class="bg-light" style="color: rgb(102, 62, 96);">
   <main class="container">

    <!-- top nav start -->
    <%- include('./includes/topNav.ejs') %> 
    <!-- top nav end -->

    <!-- side sec -->
    <div class="row">
    <!-- Dashboard sideNav Section -->
    <%- include('./includes/sideNav.ejs') %> 
    
    <!-- about / home sec -->
    <section class="col-lg-8 col-md-8 col-12" id="">
        <div class="card shadow p-3">
            <!-- head Sec Title -->
            <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
                <h3 class="fw-bold text-prof">About Info</h3>
            </div>

            <!-- Sec About -->
            <div class="card-body p-0">
            <%if(About.length){ %>
            <% for(let itema =0; itema< About.length; itema++){ %>
            <div class="col-lg-12">
                <!--  About  -->
                <div class="col-12 mb-2">
                    <div class="shadow-sm p-3">
                        <div class="d-inline-block w-100 justify-content-between my-2 text-md-center">      
                                <!-- Name  -->
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Hello Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= About[itema].hello_name %>
                                </div>
                            </div>
                            <hr>
                            
                            <!-- job  -->
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">job</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                <%= About[itema].job %>
                                </div>
                            </div>
                            <hr>
                            <!-- bio  -->
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">bio </h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= About[itema].bio %>
                                </div>
                            </div>
                            <hr>
                            <!-- img  -->
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">img </h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= About[itema].img %>
                                </div>
                            </div>
                            <hr>
                            <!-- cv  -->
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">cv </h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= About[itema].cv %>
                                </div>
                            </div>
                            <hr>
                            
                    
                        <div>
                            <a class="mx-2" role="button" data-bs-toggle="modal" data-bs-target="#EditAbout<%= About[itema]._id %>">
                                <i class="fa fa-pencil-square-o"style="font-size: 17px; color: var(--trash-color);"></i>
                            </a>
                            
                        </div>
                        </div>
                    </div>
                </div>   
             </div>
              <!-- Edit About -->
            <div class="modal fade" id="EditAbout<%=About[itema]._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content p-3">
                        <div class="modal-header">
                            <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">Edit Experience</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3 needs-validation"  action="Edit_About" method="post" >
                                    <input  type="hidden" name="id" value="<%=About[itema]._id%>">
                                    <!-- Name -->
                                    <div class="col-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control l" aria-label="Name"aria-describedby="addon-wrapping"
                                        name="hello_name" value=" <%= About[itema].hello_name %>" required>
                                    </div>
                                    </div>
                                    <!--job -->
                                    <div class="col-6"> 
                                        <div class="input-group">
                                            <input type="text"  class="form-control" name="job" aria-label="Summary" aria-describedby="addon-wrapping"
                                            required value="<%= About[itema].job %>" />
                                        </div>
                                    </div>

                                    <!-- bio  -->
                                    <div class="col-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control l" name="bio"aria-label="lName" aria-describedby="addon-wrapping"
                                        required value="<%= About[itema].bio %>"/>
                                    </div>
                                    </div>

                                    <!-- img -->
                                    <div class="col-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="img" value="<%= About[itema].img %>"/>
                                    </div>
                                    </div>

                                    <!-- cv -->
                                    <div class="col-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="cv" value="<%= About[itema].cv %>"/>
                                    </div>
                                    </div>

                                    

                                    <div class="modal-footer">
                                        <button class="btn btn-primary d-block " type="submit">Save</button>
                                    </div>
                            </form>
                        </div>
                                
                    </div>
                </div>
            </div>
              
              <%}%> 
                <%  } else{ %>
                            <h5 class="p-3 px-4"> There is no About ! </h5>
                            <h5 class=" px-4"> Add Some Infos, I Know That U r an Expert Person ^^ </h5>
                        <%}%> 
            </div>
        </div>
    </section>

  </main>

     <script src="/js/bootstrap.bundle.min.js"></script>
  
</body>
</html>