
<!-- about sec start -->
<section class="about section" id="about">
      <div class="container">
        <div class="row">
          <div class="section-title padd-15">
            <h2>About Me</h2>
          </div>
        </div>
        <div class="row">
          <div class="about-content padd-15">
            <div class="row">
               <% if(User.length){ %>
                <% for(let itemu =0; itemu< User.length; itemu++){ %>
              <div class="about-text padd-15">
                <h3>I'm <%= User[itemu].fullname %> and I'm a <span>Web Developer</span></h3>
                <p>
                  <%= User[itemu].Summary %>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="personal-info padd-15">
                <div class="row">
                  <div class="info-item padd-15">
                    <p>Birthday : <span> <%= User[itemu].birth %></span></p>
                  </div>
                  <!-- <div class="info-item padd-15">
                    <p>Age : <span>23</span></p>
                  </div> -->
                
                  <div class="info-item padd-15">
                    <p>Degree : <span><%= User[itemu].Degree %></span></p>
                  </div>
                 
                  <div class="info-item padd-15">
                    <p> Address: <span><%= User[itemu].Address %></span></p>
                  </div>

                  <div class="info-item padd-15">
                    <p>Freelnace : <span> <%= User[itemu].freelance %></span></p>
                  </div>

               
                 <div class="info-item padd-15">
                    <p>Phone :
                      <span><a href="tel:+967 <%= User[itemu].phone %>"> <%= User[itemu].phone %></a></span>
                    </p>
                  </div>

                   <div class="info-item padd-15">
                    <p>Email :
                      <span><a href="mailto:<%= User[itemu].email %>"> <%= User[itemu].email %></a></span >
                    </p>
                  </div> 
                   </div>
                <!-- <div class="row">
                  <div class="buttons padd-15">
                    <a
                      href="#contact"
                      data-section-index="1"
                      class="btn hire-me"
                      >Hire Me</a
                    >
                  </div>
                </div> -->
                <%}%> 
                <%  } else{ %>
                        <h5 class="p-3 px-4"> There is no User ! </h5>
                        <h5 class=" px-4"> Add Some Infos, I Know That U r an Expert Person ^^ </h5>
                    <%}%> 
              </div>
              <!-- skills sec -->
              <div class="skills padd-15">
                <% if(skills.length){ %>
                <% for(let item =0; item< skills.length; item++){ %>
                <div class="row">
                  <div class="skill-item padd-15">
                    <h5><%= skills[item].skill_name %></h5>
                    <div class="progress">
                      <div class="progress-in" style="width:<%=skills[item].progress_percent %>%"></div>
                      <div class="skill-percent"><%=skills[item].progress_percent %>%</div>
                    </div>
                  </div>
                </div>
                 <%}%> 
                <%  } else{ %>
                <h5 class="p-3 px-4"> There is no Skill added yet! </h5>
                <%}%> 
              </div>
            </div>

            <!-- education sec -->
            <div class="row">

              <div class="education">
               <h3 class="title padd-15">Education</h3>
                <div class="row">
                 <div class="timeline-box padd-15">
                    <div class="timeline shadow-dark">
                    <%if(Education.length){ %>
                    <% for(let item3 =0; item3< Education.length; item3++){ %>
                     <!--   timeline item   -->
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h3 class="timeline-date">
                          <i class="fa fa-calendar"></i><%= Education[item3].Education_period %>
                        </h3>
                        <h4 class="timeline-title">
                          <%= Education[item3].Education_name %>
                        </h4>
                        <p class="timeline-text">
                     <%= Education[item3].Education_describe %>
                        </p>
                      </div>
                         <%}%> 
                    <%  } else{ %>
                        <h5 class="p-3 px-4"> There is no Education ! </h5>
                        <h5 class=" px-4"> Add Some Educations, I Know That U r an Expert Person ^^ </h5>
                    <%}%>
                    </div>
                  </div>
                </div>
              </div>

              <!-- experience sec -->
              <div class="experience padd-15">
                <h3 class="title">Experience</h3>
                <div class="row">
                  <div class="timeline-box padd-15">
                    <div class="timeline shadow-dark">
                    <%if(Experinc.length){ %>
                    <% for(let item3 =0; item3< Experinc.length; item3++){ %>
                      <!--   timeline item   -->
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h3 class="timeline-date">
                          <i class="fa fa-calendar"></i> <%= Experinc[item3].Experinc_period %>
                        </h3>
                        <h4 class="timeline-title"><%= Experinc[item3].Experinc_name %></h4>
                        <p class="timeline-text">
                         <%= Experinc[item3].Experinc_describe %>
                        </p>
                      </div>
                      <%}%> 
                    <%  } else{ %>
                      <h5 class="p-3 px-4"> There is no Experinc yet ! </h5>
                    <%}%> 
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
</section>
<!-- about sec End -->