 <section class="home active" id="home">
    <% if(About.length){ %>
      <% for(let itema =0; itema< About.length; itema++){ %>
                       
      <div class="home-info">
        <h3 class="hello">
          Hello, my name is <span class="name"> <%= About[itema].hello_name %></span>
        </h3>
        <h3 class="my-profession">I' m a <span><%= About[itema].job %></span></h3>
        <p>
          <%= About[itema].bio %>
        </p>

        <a  download="" href="<%= About[itema].cv %>" class="btn">Download CV</a>
      </div>
      <div class="home-img">
        <img src="<%= About[itema].img %>" alt="home pic" />
      </div>
    <%}
    } else{ %>
          There are no skill
        <%}%>
    </section>